* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#receive,
#sent {
  float: left;
  margin-left: 3vw;
  color: aliceblue;
}

#sent {
  float: right;
  margin-right: 3vw;
}

.sent-recv {
  background-color: rgb(65, 71, 71);
  height: calc(100vh - 20vh);
  width: 100%;
  overflow-y: auto;
}

.chatroom {
  background-color: rgb(101, 157, 156);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroom #room {
  width: 40vmin;
  height: 5vmin;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}

.chatroom .btn {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 210, 210);
  height: 5vmin;
  width: 10vmin;
  border-radius: 0px 10px 10px 0px;
}

.msg-send {
  display: flex;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.msg-send input {
  flex: 1;
  max-width: 100%;
  padding: 10px;
  height: 5vmin;
  border-radius: 10px 0px 0px 10px;
}

.msg-send .btn {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 210, 210);
  height: 5vmin;
  width: 10vmin;
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 600px) {
  .chatroom #room {
    width: 40vw;
    height: 5vh;
  }

  .msg-send input {
    padding: 8px;
    height: 5vh;
  }
  .chatroom .btn,
  .msg-send .btn {
    height: 5vh;
    width: 15vw;
  }
}
